@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply m-0 p-0 box-border overflow-x-hidden;
  }
}

.angle-bar::before,
.angle-bar::after {
  content: '';
  position: absolute;
  top: 0;
  width: 120px;
  height: 50px;
  background-color: #9333ea;
  /* adjust to your section bg */
  z-index: 1;
}

.angle-bar::before {
  left: 0;
  clip-path: polygon(0px 0px, 60% 0%, 100% 100%, 0% 100%);
}

.angle-bar::after {
  right: 0;
  clip-path: polygon(40% 0px, 100% 0px, 100% 100%, 0% 100%);
}

.prose p {
  margin-bottom: 1.25rem;
  /* extra space for paragraphs */
}

.prose h2 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}